# dependencies
node_modules
.pnp
.pnp.js
.yarn

# next.js
.next/
out/

# production
build
dist
.turbo/

# extension build output
extension/dist/
public/downloads/*.zip

# misc
.DS_Store
*.pem
CLAUDE.md
.idea/
.vscode/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# env
.env
.env.local
.env*.local

# supabase
supabase/.temp/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
